@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: 'Oleo Script', cursive;
    margin: 0;
}


header{
    background-color: #4B0082;
    padding:15px;
    display:flex;
    justify-content: space-between;
    
}
header h1{
    color: #fff;
}

.search{
    font-family:'Oleo Script', cursive;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding:10px 20px;
    border-radius: 25px;
    font-size: 16px;
    

}
.search::placeholder{
    color: #fff;
    font-weight: 100;
    font-style: italic;
}

.search:focus{
    outline:0;
    
}
.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:#4B0082;
}

.movie-info span.orange{
    color:#4B0082;
}

.movie-info span.red{
    color:red;
}


main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pages{
    display:flex;
    margin:20px 40px;
    align-items: center;
    justify-content: space-evenly;
    color:white;
}

.current{
    background-color: #4B0082;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #4B0082;
    font-size: 20px;
    font-weight: 600;
}



#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:10px 20px;
    background-color: #4B0082;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: blue;
}
.no-results{
    color:white;
}

.pages{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #4B0082;;
    font-size: 20px;
    font-weight: 600;
}




.overview {
    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  
  
  
  
  
  /*media queries*/
  @media screen and (max-height: 450px) {
    .overview a {font-size: 20px}
    .overview .closebutton {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


  .embed.hide{
      display: none;
  }

  .embed.show{
      display: inline-block;
  }

  .arrow{
      position: absolute;
      font-size: 40px;
  }

  .arrow.left-arrow{
      top:50%;
      left:5%;
      transform: translateY(-50%);
  }

  
  .arrow.right-arrow{
    top:50%;
    transform: translateY(-50%);
    right:5%;
}

.dots{
    margin-top: 30px;
}

.dots .dot {
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.dots .dot.active{
    background-color: #4B0082;
}

p{
    bottom: 0;
    position: fixed;
    margin-top: 130px;
    color: #fff;
    border-radius: 3px;
    padding: 12px 22px;
    z-index: 1000;
}
